absl-py==0.9.0
astor==0.8.0
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
gast==0.3.3
google-pasta==0.2.0
grpcio==1.14.1
h5py 
imageio==2.9.0
Keras==2.3.1
Keras-Applications 
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.3.0
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx==2.4
numpy==1.18.5
pandas==1.1.0
Pillow==7.2.0
protobuf==3.12.3
pygpu==0.7.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
rope==0.17.0
scikit-image==0.17.2
scikit-learn==0.20.4
scipy
six==1.15.0
spectral==0.22.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.7.22
Werkzeug==1.0.1
wrapt==1.12.1
